*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  background-color: #444;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.display-res {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.199);
  border-radius: 5px;
}

.operators {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.operators button {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  margin: 2px;
}

.operators button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.digits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.digits button {
  cursor: pointer;
  margin: 2px;
  width: 70px;
  height: 70px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.digits button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
  color: white;
}
#clear{
  width: 100%;
}